
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Colors
color:#FFFFFF;
color:#E3D3BC;
color:#D99D47;
color:#BD8C45;
color:#698EA1;
color:#000000;
 */

 /* Fonts
font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif; */


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;  
}


/* ----- Skip Link/Focus state/Return to Top ------- */

.skip-color {
   color:#a81010;  
   font-weight: bold;    
}

.skip-btn {
    font-size: 1.5rem;
 
}


/* ----- Home ------- */

.container-bg { 
    background-color: #D99D47;
    padding: 10px;
}


.navbar-toggler.toggler-color {
    border-color:#000000;
}

.logo, h1 h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family:'Karla', sans-serif;
}

/* ul li {
    color:#000000;
} */

ul li:hover {
   background-color:#D99D47;

}

.logo:hover {
    background-color:#D99D47;

}

.btn {
    background-color: #698EA1;
}


.socmed-icons .fa {
   color:#BD8C45;
}

.footer-background {
    background-color:#E3D3BC;
}



/* ABOUT */







/* CONTACT */


.contact-icon {
    font-size:1.5rem;
   
}

.contact-text {
    color:#000000;
    font-family: 'Montserrat', sans-serif;
}

.contact-icon .fa {
    color:#000000;
}


@media screen and (min-width:720px) { 




}