
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* Fonts
font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif; */


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;  
}

/* CSS Variables */
:root {
    --main-color:#D99D47;
    --secondary-color:#698EA1;
    --footer-bg-color:#E3D3BC; 
    --socmed-color:#BD8C45;
    --skip-links:#a81010; 
    --card-bg-color:#f7eee3;
    --contact-color:#000000c7;
    --sky-blue:#3397c9;
    --black:#000000;
    --gray:#808080;

}

/* ----- Skip Link/Focus state/Return to Top ------- */

.skip-color {
   color: var(--skip-links);
   font-weight: bold;    
}

.skip-btn {
    font-size: 1.5rem; 
}

/* ----- Container, Navigation, and Footer ------- */
.container-bg { 
    background-color: var(--main-color);
}

.navbar-toggler.toggler-color {
    border-color:var(--black);
}

.logo, h1 h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family:'Karla', sans-serif;
}

ul li:hover {
   background-color:var(--main-color);
}

.logo:hover {
    background-color:var(--main-color);
}

.btn {
    background-color: var(--secondary-color);
}

.socmed-icons .fa {
   color: var(--socmed-color);
}

.footer-background {
    background-color: var(--footer-bg-color);
}


/*-----------------------------------------------------
                        SMALL SCREEN
-------------------------------------------------------*/

/* HOME */

.home-icon .fa {
    color:var(--main-color);
}

.home-icon .fa:hover {
    color: var(--gray);
}

.home-icon {
    font-size:2rem;
}

.home-heading {
    font-size: 4rem;
}

.home-banner-bio {
    color: var(--sky-blue);
    font-size: 2rem; 
}

.sub-heading {
    font-size: 2rem ;
}

/* Fade in animation for home page heading, subheading, and icons */
@-webkit-keyframes fadeInLeftBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-1000px, 0, 0);
      transform: translate3d(-1000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInLeftBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-1000px, 0, 0);
      transform: translate3d(-1000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .animate__fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
  }

/* ABOUT */

.card-bg {
    background-color: var(--card-bg-color);
}

.heading {
    font-size: 3rem;
}

.sub-heading2{
    font-size: 1.5rem;
}


/* CONTACT */

.contact-text {
    font-size: 3rem;
    color: var(--contact-color);
    font-family: 'Montserrat', sans-serif;
}

.contact-icon .fa {
    color:var(--contact-color);
    font-size: 1.5rem;
}

/*-----------------------------------------------------
                        LARGE SCREEN
-------------------------------------------------------*/


@media screen and (min-width:720px) { 


/* HOME */

.home-icon {
    font-size:2.5rem;
}

.home-heading {
    font-size: 6rem;
}

.home-banner-bio {
    font-size: 2.5rem; 
}

.sub-heading {
    font-size: 3rem ;
}

.text-description {
    font-size: 1.2rem;
}

/* ABOUT */

.heading {
    font-size: 4.5rem;
}

.view-resume {
    font-size: 1.5rem;
}

/* WORK */
.work-sub-heading {
    font-size: 2.5rem;
}

/* CONTACT */

.contact-text {
    font-size: 4rem;    
}

.contact-icon .fa {
    font-size: 2rem;
}

}